<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/main_page.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>BaGS</title>
    </head>


    <body>

            <div class="topnav">
                <a class="active" href="http://jimmyjbling.pythonanywhere.com/">Home</a>
                <a href="http://jimmyjbling.pythonanywhere.com/teams/">Teams</a>
                <a href="http://jimmyjbling.pythonanywhere.com/players/">Players</a>
                <a href="http://jimmyjbling.pythonanywhere.com/managers/">Managers</a>
                <a href="http://jimmyjbling.pythonanywhere.com/coaches/">Coaches</a>
                <a href="http://jimmyjbling.pythonanywhere.com/games/">Games</a>
                <a href="http://jimmyjbling.pythonanywhere.com/rooster/">Roosters</a>
              </div>

        <div class="container">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Major_League_Baseball_logo.svg/1200px-Major_League_Baseball_logo.svg.png">
          <h4 style="text-align:center;">Welcome the the Baseball Game Simulator!</h4>
        </div>

    </body>
</html>